.div-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.div-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-total {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding-left: 8%;
}

.total{
    border: 2px solid black;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
}

.refresh-button{
    flex: 0 0 10%;
    align-items: center;
    margin-top: 20px;
}

.refresh-button button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.refresh-button button:hover {
    background-color: #0056b3;
}

.div-pessoas{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 200px 0 200px;
}

#div-mulher,
#div-homem{
    width: 50%;
}

.total-sexo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.div-btns{
    margin-top: 10px;
    display: felx;
    justify-content: space-between;
}

.btn-add{
    width: 20%;
    border-radius: 20px;
    font-size: 30px;
    background-color: rgb(18, 196, 18);
    color: white;
    border: none;
}

.btn-add:hover,
.btn-remove:hover{
    cursor: pointer;
    background-color: #e6f3b1;
}

.btn-remove{
    width: 20%;
    border-radius: 20px;
    font-size: 30px;
    background-color: rgb(196, 18, 18);
    color: white;
    border: none;
}